@using FeatureToggle.Interface
@model FeatureToggleDotnet.Models.TodoViewModel
@inject IFeature Feature

@{
    ViewData["Title"] = "To Do";
}

<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>

<table class="table">
    <thead>
    <tr>
        <th>
            Description
        </th>
        <th>
            Done
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Done)
            </td>
        </tr>
    }
    </tbody>
</table>
@if (Feature.IsFeatureEnabled("FTD-001-Add-item"))
{
    <partial name="/Views/Todo/_AddItem.cshtml" />
}