@using FeatureToggle.Interface
@model FeatureToggleDotnet.Models.TodoViewModel
@inject IFeature Feature

@{
    ViewData["Title"] = "To Do";
}

<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>

<table class="table">
    <thead>
    <tr>
        <th>
            Description
        </th>
        <th>
            Done
        </th>
        @if (Feature.IsFeatureEnabled("FTD-002-Remove-item"))
        {
            <th>
                Delete
            </th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Done)
            </td>
            @if (Feature.IsFeatureEnabled("FTD-002-Remove-item"))
            {
                <td>
                    <button type="button" class="btn btn-danger">Delete Item</button>
                </td>
            }
        </tr>
    }
    </tbody>
</table>
@if (Feature.IsFeatureEnabled("FTD-001-Add-item"))
{
    @await  Html.PartialAsync("_AddItem", new TodoItem())
}